body{
	background-color: #f1f1f1;
	margin: 0px;
}

.afb1{
	background-color: ;
	padding: 50px;
	padding-left: 350px;
}
.afb2{
	background-color: ;
	width: 800px;
	padding: 50px; 

}
.row{
	background-color: ;
	margin-bottom: 20px;

}

.col1{
	background-color: #d0d1d7;
	width: 550px;
	border: 1px solid white;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	padding: 10px;

}
.col2{
	background-color: #e3e4e8;
	max-width: 500px;
	padding: 10px;
	overflow: hidden;
	display: block;
}
.col3{
	background-color: #f7f7f8;
	width: 150px;
	padding: 10px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

td{
	min-height: 120px;

}