.ab1{
	/*background-color: yellow;*/
	padding: 20px;
}

.ab2{
	background-color: ;
	width: 1100px;
	padding: 10px;
	color: #c4c4c4;
	box-shadow:  0 0 3px #a40e57;
	
}

.hd{
	color: #8a335d;
	font-size: 20px;
	text-shadow: 0 0 3px #FF0000;

}