body{
	background-color: #f1f1f1;
	margin: 0px;
}

.afb1{
	background-color: ;
	padding: 50px;
	margin-left: 30%;
}
.afb2{
	background-color: ;
	width: 800px;
	padding: 50px; 

}
.row{
	background-color: ;
	margin-bottom: 20px;

}

.col1{
	background-color: #d0d1d7;
	width: 550px;
	border: 1px solid white;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	padding: 10px;

}
.col2{
	background-color: #e3e4e8;
	max-width: 500px;
	padding: 10px;
	overflow: hidden;
	display: block;
}
.col3{
	background-color: #f7f7f8;
	width: 150px;
	padding: 10px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

td{
	min-height: 120px;

}

.proimg{
        width: 20px;
        height: 20px;
    }
    .loopdiv{
        width: 550px;
        height: auto;
        background-color: white;
        padding: 10px;
        border: 0.2px solid #ddd;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .fdname{
        font-family: 'Ruda', sans-serif;
        color: #424a5d;
        padding-left: 20px;
        font-size: 14px;
    }
    .fname{
        color: #41a3b1;
        font-size: 13px;
        padding-left: 20px;
    }
    .status{
        color: #ff865c;
        font-family:fantasy;
    }
    .hor{
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        
    }
    .st{
        width: 100%;
        height: auto;
        text-align: right;
        
    }