hr{
	color: #3c4443;
	width: 600px;
	border: 3px solid #3c4443;
	border-radius: 5px;
}
p{
	color: #b8b8b8;
}

.fbdiv1{
	background-color: ;
	padding: 20px;
}
.fbdiv2{
	background-color: ;
	width: 900px;
	padding: 0px 20px;
	font-family: myfont; 
	border-radius: 10px;
	border: 1px solid #2d3234;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(66,66,66,1);
	-moz-box-shadow: 0px 0px 30px 0px rgba(66,66,66,1);
	box-shadow: 0px 0px 30px 0px rgba(66,66,66,1);
}

#feedback{
	background-color: ;
}

.condol{
	background-color: ;
	padding: 20px;
}

.conform{
	background-color: ;
	width: 900px;
	position: relative;
	float: center;
	padding: 0px 50px; 
	border-radius: 10px;
	border: 1px solid #2d3234;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(66,66,66,1);
	-moz-box-shadow: 0px 0px 30px 0px rgba(66,66,66,1);
	box-shadow: 0px 0px 30px 0px rgba(66,66,66,1); 
}

#heading2{
	background-color: ;
	padding:10px; 
	font-family: myfont1;
	color: #a86205;
}

input[type=text],[type=visnic]{
	width: 275px;
	height: 35px;
	padding: 7px;
	margin: 10px;
	border-color: gray;
	border-radius: 7px;
	font-family: myfont1;
	background-color: #222326;
	color: white;
	font-size: 16px;
}
input[type=text]:hover,[type=visnic]:hover{
	width: 350px;
	height: 35px;
	padding: 7px;
	margin: 10px;
	border-color: gray;
	border-radius: 7px;
	font-family: myfont1;
	background-color: #222326;
	color: white;
	font-size: 16px;
	transition: 0.3s;
	
}

input[type=text]:focus,[type=visnic]:focus{
	width: 350px;
	height: 35px;
	padding: 7px;
	margin: 10px;
	border-color: none;
	border-radius: 7px;
	font-family: myfont1;
	background-color: #222326;
	color: white;
	font-size: 16px;
	transition: .3s;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(112,112,112,1);
	-moz-box-shadow: 0px 0px 10px 3px rgba(112,112,112,1);
	box-shadow: 0px 0px 10px 3px rgba(112,112,112,1);
}

textarea{
	padding: 7px;
	margin: 10px; 
	width: 350px;
	height: 125px;
	border-color: none;
	border-radius: 5px;
	font-family: myfont1;
	background-color: #222326;
	color: white;
	font-size: 16px;
}
textarea:focus{
	padding: 7px;
	margin: 10px; 
	width: 350px;
	height: 125px;
	border-color: none;
	border-radius: 5px;
	font-family: myfont1;
	background-color: #222326;
	color: white;
	font-size: 16px;
	transition: .3s;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(112,112,112,1);
	-moz-box-shadow: 0px 0px 10px 3px rgba(112,112,112,1);
	box-shadow: 0px 0px 10px 3px rgba(112,112,112,1);
}

label{
	color: #b8b8b8;
}

input[type=submit],[type=reset]{
	margin: 10px;
	float: center;
	border:none;
	background-color: #70102e;
	color:white;
	width: 100px;
	height: 40px;
	float:right;
}
input[type=submit]:hover,[type=reset]:hover{
	background-color: white;
	color:gray;
	width: 100px;
	height: 40px;
	transition: box-shadow 0.3s, border 1s;
	box-shadow: 0 0 5px 3px #969696;
	
}
input[type=submit]:active,[type=reset]:active{
	background-color: white;
	color:gray;
	width: 100px;
	height: 40px;
	transition: box-shadow 0.3s, border 1s;
	border-radius: 15px;
	box-shadow: 0 0 5px 3px #969696;
	
}

input[type=radio]{
    display:inline-block;
    width:19px;
    height:19px;
    margin: -1px 20px 0px 0px;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    
}

.disdiv{
	background-color: ;
	width: 700px;
	padding: 10px;
	border-radius: 10px;
	font-family:myfont1;
	margin-top: 20px;
	border: 1px solid gray;
}

.disdiv:hover{
	background-color: ;
	width: 700px;
	padding: 10px;
	border-radius: 10px;
	font-family:myfont1;
	margin-top: 20px;
	border: 1px solid gray;
	-webkit-box-shadow: inset 1px 1px 5px 0px rgba(171,171,171,1);
-moz-box-shadow: inset 1px 1px 5px 0px rgba(171,171,171,1);
box-shadow: inset 1px 1px 5px 0px rgba(171,171,171,1);

}
label{
	font-family:myfont1;
}

.conimg:hover{
	background-color: black;
	opacity: 0.8;
	

}
.conimg{
	background-color: black;
	transition: 0.3s;
	opacity: 0.4;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(171,171,171,1);
-moz-box-shadow: 1px 1px 5px 0px rgba(171,171,171,1);
box-shadow: 1px 1px 5px 0px rgba(171,171,171,1);
}

#headertable:hover{
	text-shadow: 3px 3px black;

}

#heading2:hover{
	text-shadow: 3px 3px black;
	
}