#para{
	float:center;
	background-color: #1d1e1f;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	padding: 20px;
	margin:20px;
	width: 1150px;
	
}

#para1{
	background-color: ;
	
}