#par{

	float:center;
	background-color: ;
	font-family: myfont1;
	font-size: 14px;
	padding: 20px;
	width: 900px;
	border-radius: 10px;
	border: 2px solid #2d3234;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(66,66,66,1);
	-moz-box-shadow: 0px 0px 30px 0px rgba(66,66,66,1);
	box-shadow: 0px 0px 30px 0px rgba(66,66,66,1);
	
}

#par1{
	background-color: ;
	padding: 40px;
	color: #b8b8b8;

}

.tb{
	width: 800px;
	background-color: ;
}

td{
	background-color: ;
	padding: 10px;
	width: 400px;
}

.hh1{
	color: #3c4443;
	width: 700px;
	border: 3px solid #3c4443;
	border-radius: 5px;

}

h2{
	color: white;
	font-family: myfont1;
}