@font-face {
    font-family: myfont1;
    src: url(fonts/Semi_Casual.ttf);
}

div{
	font-family: myfont1;
}
.pack{
	background-color: ;
	font-family: myfont1;
	padding:20px; 
}

.pack1{
	background-color: ;
	width: 1150px;
	font-family: myfont1;
	border-radius: 10px;
	border: 2px solid #2d3234;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(66,66,66,1);
	-moz-box-shadow: 0px 0px 30px 0px rgba(66,66,66,1);
	box-shadow: 0px 0px 30px 0px rgba(66,66,66,1);
}

#h1{
	background-color: ;
	height:40px;
	position: relative;
	float: center;
	padding: 10px;
	margin:20px;
	font-family: myfont1;
}

#h1_1{
	background-color: ;
	color: #b8b8b8;
	height:30px;
	position: relative;
	float: center;
	padding: 10px;
	margin:10px 25px 10px 25px;
	font-size: 20px;
	border: 1px solid #40454a;
	border-bottom: 5px solid #40454a;
	border-radius: 5px;
}

#h1_1:hover{
	background-color: #b8b8b8;
	color: black;
}

#one1{
	background-color: ;
	width: 250px;
	float: left;
	padding: 20px;
	margin:25px;
	
	border-radius: 5px;

}

#one2{
	background-color: ;
	width: 700px;
	font-size: 13px;
	float: right;
	padding: 20px;
	margin:25px;
	
	border-radius: 5px;
}

#h2{
	background-color: ;
	height:40px;
	position: relative;
	float: center;
	padding: 10px;
	margin:20px;
	font-size: 13px;
	
}

#h3{
	background-color: ;
	height:40px;
	position: relative;
	float: center;
	padding: 10px;
	margin:20px;
	font-family: myfont1;

}
#h4{
	background-color: ;
	width:1050px ;
	position: relative;
	float: center;
	padding: 10px 20px 20px 30px;
	margin:20px;
	font-size: 13px;
	border-radius: 10px;

}

#hr1{
	color: #3c4443;
	width: 700px;
	border: 3px solid #3c4443;
	border-radius: 5px;
}

hr{
	color: #3c4443;
	border: 2px solid #3c4443;
}
.resbutton{
	border: none;
	background-color: #3a0818;
	color: white;
	font-size: 18px;
	padding: 15px;
	margin: 0px 50px 50px 0px;

	float: right;
	width: 120px;
	height: 150px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
}
.resbutton:hover{
	border: none;
	color: #b8b8b8;
	background-color: ;
	font-size: 18px;
	padding: 15px;
	margin: 0px 50px 50px 0px;
	
	float: right;
	width: 120px;
	height: 150px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
}

.package_head:hover{
	text-shadow: 2px 2px black;
}