#h1{
	background-color: #1d1e1f;
	height:40px;
	position: relative;
	float: center;
	padding: 10px;
	margin:20px;

}
#one1{
	background-color: #1d1e1f;
	width: 250px;
	height:330px;
	
	float: left;
	padding: 20px;
	margin:20px;

}
#one2{
	background-color: #1d1e1f;
	width: 650px;
	height:330px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	
	float: right;
	padding: 20px;
	margin:20px;

}
#h2{
	background-color: #1d1e1f;
	height:40px;
	position: relative;
	float: center;
	padding: 10px;
	margin:20px;

}