

#res1{
	background-color: #1d1e1f;
	width: 600px;
	height:40px;
	position: relative;
	float: center;
	padding: 10px;
	margin:100px 20px 20px 20px 20px;
}
#res2{
background-color: white;
float:center;

}

label{
	color: gray;
}


input[name=diladd],[name=mobilenum],[name=cusname],[type=visnic]{
	width: 250px;
	height: 25px;
	padding: 5px;
	margin: 5px;
	border-color: none;
	border-radius: 7px;

}
input[name=diladd]:hover,[name=mobilenum],[name=cusname]:hover,[type=visnic]:hover{
	width: 250px;
	height: 25px;
	padding: 5px;
	margin: 5px;
	border-color: none;
	border-radius: 4px;
	box-shadow: 4px 2px  #444;
}


input[name=dildate],[type=visnic]{
	width: 50px;
	height: 25px;
	padding: 5px;
	margin: 5px 0px 5px 5px;
	border-color: none;
	border-radius: 7px;

}
input[name=dildate]:hover,[type=visnic]:hover{
	width: 50px;
	height: 25px;
	padding: 5px;
	margin: 5px 0px 5px 5px;
	border-color: none;
	border-radius: 4px;
	box-shadow: 4px 2px  #444;
}





input[type=submit],[type=reset]{
	margin: 5px;
	float: center;
	border:none;
	background-color: #70102e;
	color:white;
	width: 85px;
	height: 30px;
	float:right;
	margin-left: 500px;
}
input[type=submit]:hover,[type=reset]:hover{
	background-color: white;
	color:gray;
	width: 85px;
	height: 30px;
	transition: box-shadow 0.3s, border 1s;
	box-shadow: 0 0 5px 3px #969696;
	
}
input[type=submit]:active,[type=reset]:active{
	background-color: white;
	color:gray;
	width: 85px;
	height: 30px;
	transition: box-shadow 0.3s, border 1s;
	box-shadow: 0 0 5px 3px #969696;
	
}

#p1{
	
	width:800px;
	height:50px;
	position: relative;
	float: center;
	padding-top: 1px;
	padding-bottom: 2px;
	margin:30px;
}
#pa1{
	
	width:800px;
	height:100px;
	position: relative;
	float: center;
	padding: 10px 20px 20px 30px;
	margin:10px;
}

#tb{

	float:center;
}
#pa2{
	
	width:800px;
	height:20px;
	position: relative;
	float: center;
	padding: 10px 20px 20px 30px;
	margin:10px;
}
#pa3{
	background-color: #1d1e1f;
	width:800px;
	height:50px;
	position: relative;
	float: center;
	padding: 10px 20px 20px 30px;
	margin:10px;
}
select{
    margin:5px 5px 5px 10px;
    background: rgba(0,0,0,0.3);
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

input[name=service2]{
	width:60px;
	height:25px;
	padding: 5px;
	margin: 5px;
	border-color: none;
	border-radius: 7px;
}
input[name=service2]:hover{
	width:60px;
	height:25px;
	padding: 5px;
	margin: 5px;
	border-color: none;
	border-radius: 4px;
	box-shadow: 4px 2px  #444;
}

.resd1{
	width: 900px;
	margin: 0px 0px;
}
#payhere{
	background-color: blue;
	margin-left: 50px;
	padding-left: 200px;
}