#login{
	background-color: #2d2e2f;
	box-shadow: 2px 2px 2px 0 #4a4c4f;

}
#log1{
	background-color: ;
	width:350px;
	padding: 10px;
}
#signup{
	background-color: ;
	float:center;
}

label{
	color: gray;
}

input[type=text],[type=tel],[type=password],[type=email],[type=date]{
	border-color: white;
	background-color: white;
	color: #1c1c1c;
	margin: 5px;
	padding: 5px;
	width: 225px;
	height: 27px;
	border-radius: 4px;
	font-size: 12px;
	
	transition: box-shadow 0.3s, border 1s;
	box-shadow: inset 1px 1px 2px 0 #707070;
}


input[type=text]:focus,[type=tel]:focus,[type=password]:focus,[type=email]:focus,[type=date]:focus{
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

input[type=radio]{
	background-color: yellow;
	size: 15px;
}

input[type=submit],[type=reset]{
	margin: 5px;
	float: center;
	border:none;
	background-color: #70102e;
	color:white;
	width: 85px;
	height: 30px;
	float:right;
}

input[type=submit]:hover,[type=reset]:hover{
	background-color: white;
	color:gray;
	width: 85px;
	height: 30px;
	transition: box-shadow 0.1s, border 0.2s;
	box-shadow: 0 0 5px 3px #969696;
	
}
input[type=submit]:active,[type=reset]:active{
	background-color: black;
	color:gray;
	width: 85px;
	height: 30px;
	transition: box-shadow 0.3s, border 1s;
	box-shadow: 0 0 3px 1px #1c1c1c;
	
}

.error{
	color: red;
	font-size: 12px;
	text-shadow: 1px 1px 2px black, 0 0 4px red, 0 0 3px darkred;
}

input.year{
	border:none;
	background-color: white;
	color: #1c1c1c;
	margin: 5px;
	padding: 5px;
	width: 85px;
	height: 25px;
	border-radius: 4px;
	font-size: 12px;
	
	transition: box-shadow 0.3s, border 1s;
	box-shadow: inset 1px 1px 2px 0 #707070;
}

#repassword::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ff0000;
}
#repassword::-moz-placeholder { /* Firefox 19+ */
  color: #ff0000;
}
#repassword:-ms-input-placeholder { /* IE 10+ */
  color: #ff0000;
}
#repassword:-moz-placeholder { /* Firefox 18- */
  color: #ff0000;
}