.cont1{
	background-color: ;

}

.cont2{
	background-color: 	;
	width: 900px;
	height: 1000px;
	padding: 40px;
}

.iframe_div{
	background-color: ;
	height: 319px;
	padding: 20px 0px;
	width: 100%;
	margin-top: 50px; 
	border-radius: 3%;	 
}
}

#webcasting{
	background-color: ;
	border-radius: 3%;	 
}

input[type=text],[type=visnic]{
	width: 350px;
	height: 35px;
	padding: 7px;
	margin: 10px;
	border-color: gray;
	border-radius: 7px;
	font-family: myfont1;
	background-color: #222326;
	color: white;
	font-size: 16px;
}
input[type=text]:hover,[type=visnic]:hover{
	width: 350px;
	height: 35px;
	padding: 7px;
	margin: 10px;
	border-color: gray;
	border-radius: 7px;
	font-family: myfont1;
	background-color: #222326;
	color: white;
	font-size: 16px;
	transition: 0.3s;
	
}

input[type=text]:focus,[type=visnic]:focus{
	width: 350px;
	height: 35px;
	padding: 7px;
	margin: 10px;
	border-color: none;
	border-radius: 7px;
	font-family: myfont1;
	background-color: #222326;
	color: white;
	font-size: 16px;
	transition: .3s;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(112,112,112,1);
	-moz-box-shadow: 0px 0px 10px 3px rgba(112,112,112,1);
	box-shadow: 0px 0px 10px 3px rgba(112,112,112,1);
}

input[type=submit]{
	margin: 10px;
	float: center;
	border:none;
	background-color: #70102e;
	color:white;
	width: 100px;
	height: 40px;
	float:right;
}
input[type=submit]:hover{
	background-color: white;
	color:gray;
	width: 100px;
	height: 40px;
	transition: box-shadow 0.3s, border 1s;
	box-shadow: 0 0 5px 3px #969696;
	
}
input[type=submit]:active{
	background-color: white;
	color:gray;
	width: 100px;
	height: 40px;
	transition: box-shadow 0.3s, border 1s;
	border-radius: 15px;
	box-shadow: 0 0 5px 3px #969696;
	
}

hr{
	color: #3c4443;
	width: 600px;
	border: 3px solid #3c4443;
	border-radius: 5px;
}

#heading2{
	background-color: ;
	padding:10px; 
	color: white;
	font-family: myfont1;
	color: #a86205;
}